html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "OpenSuns", "Arial", "sans-serif";
  line-height: normal;
  background: #f1f1f1;
}

/* glob */
:root {
  --brown-color: brown;
}

.flex {
  display: flex;
}

.opacity {
  opacity: 0;
}

.container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 25px 0;
  background-image: url(../images/background-tekstur.jpg);
}

.title {
  margin: 0;
  margin-bottom: 15px;
  color: brown;
}

.win {
  height: 0;
  opacity: 0;
}

.win__back {
  position: absolute;
  width: inherit;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-image: url(../images/you-win.jpg);
  z-index: 10;
}

.win__btn {
  width: 160px;
  height: 40px;
  outline: 2px solid transparent;
  outline-offset: 7px;
  background-color: lightgreen;
  border: 1px solid var(--brown-color);
  border-radius: 10px;
  margin-bottom: 15px;
  color: black;
  transition: outline-color 0.4s ease-in-out,
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out,
    border-color 0.3s ease-in-out;
}

.win__btn:focus-visible {
  outline-color: var(--brown-color);
}

.win__btn:hover {
  background-color: rgba(18, 130, 18, 0.6);
  border-color: white;
  color: white;
}

.win__btn:active {
  width: 150px;
  height: 30px;
  margin-bottom: 35px;
}

.form {
  outline: none;
  margin-bottom: 15px;
}

.form__input {
  padding: 10px;
  width: 250px;
  outline: 2px solid transparent;
  outline-offset: 7px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: outline-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.form__input:focus,
.form__input:hover {
  outline-color: var(--brown-color);
}

.form__input:hover {
  border-color: var(--brown-color);
}

.list {
  text-align: -webkit-center;
  columns: 4;
  padding: 20px 50px 10px 50px;
  background-image: url(../images/paper800.jpg);
}

.list__shirt {
  position: absolute;
  height: inherit;
  width: inherit;
  outline: 2px solid transparent;
  outline-offset: 5px;
  border: 5px solid white;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/shirtUp.jpg);
  cursor: pointer;
  transition: outline-color 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.list__shirt:focus {
  outline-color: var(--brown-color);
}

.list__shirt:hover {
  border-color: var(--brown-color);
}

.list__item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  color: white;
  font-size: 100px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/brown.jpg);
}

/* .list__item:nth-child(4n) {

} */
